<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaseLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BaseLibrary.Properties.Settings>
            <setting name="E0001" serializeAs="String">
                <value>Writing file error.</value>
            </setting>
            <setting name="E0002" serializeAs="String">
                <value>Reading file error.</value>
            </setting>
        </BaseLibrary.Properties.Settings>
    </userSettings>
</configuration>